[Desktop Entry]
Name=Friend OS
Comment=Log in with your FriendBook credentials
Type=Application
Terminal=False
Exec=jvm
TryExec=jvm
Keywords=X11;floating;windowmanager;metaos;

[Window Manager]
SessionManaged=true

