[Desktop Entry]
Name=Friend OS
Comment=Log in with your FriendBook credentials
Type=Application
Terminal=False
Exec=xfwm4
TryExec=xfwm4
Keywords=X11;floating;windowmanager;metaos;

[Window Manager]
SessionManaged=true

